.swal2-modal .swal2-content {
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
    font-weight: 300;
}

.swal2-container .btn {
    margin: 4px;
}

a .btn {
    margin: 2px;
}

.el-input__inner {
    height: 40px;
}

.el-input {
    width: 100% !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

// .el-select {
//     width: 100% !important;
// }

.el-select .el-input__icon {
    right: 2px;
}

.select-default.el-select .el-input input {
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    font-size: 14px;
}

.select-default.el-select .el-input .el-input__icon {
    border-radius: 4px;
}

.vue-dropzone .dz-preview .dz-remove {
    border: none;
    opacity: 1;
    background-color: #eb5e28;
    border-radius: 20px;
}

.table p small {
    font-size: 75%;
    font-weight: 100;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px !important;
}

.el-collapse-item__header__arrow {
    float: right !important; 
    line-height: 48px !important;
    font-weight: 300 !important;
    font-size: 12px !important;
}

.card-message {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card-message i {
    font-size: 36px;
}

.card-message p {
    font-weight: 300;
    margin-top: 10px;
    font-size: 18px;
}

span.sidebar-normal {
    text-overflow: ellipsis;
    overflow: hidden;
}