.swal2-modal .swal2-content {
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
    font-weight: 300;
}

.swal2-container .btn {
    margin: 4px;
}

a .btn {
    margin: 2px;
}

.el-input__inner {
    height: 40px;
}

.el-input {
    width: 100% !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

// .el-select {
//     width: 100% !important;
// }

.el-select .el-input__icon {
    right: 2px;
}

.select-default.el-select .el-input input {
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    font-size: 14px;
}

.select-default.el-select .el-input .el-input__icon {
    border-radius: 4px;
}